<!DOCTYPE html>
<html>
<head>
    <title>Simple Web App with Canvas</title>
</head>
<body>
    <h1>Simple Web App</h1>
    <form action="/get_data2" method="get">
        <label for="token">Token:</label><br>
        <input type="text" id="token" name="token" value="666f7f95ef93326dba001c82"><br>
        <label for="netid">NetID:</label><br>
        <input type="text" id="netid" name="netid" value="CM99V122139007597"><br>
        <label for="fcdt">FCDT:</label><br>
        <input type="text" id="fcdt" name="fcdt" value=""><br>
        <label for="tcdt">TCDT:</label><br>
        <input type="text" id="tcdt" name="tcdt" value=""><br><br>
        <input type="submit" value="Submit">
        <button type="button" onclick="setLastHour()">Last hour</button>
    </form>
    {% if data %}
    {% if request.args.get('fcdt') %}
    <p><strong>FCDT:</strong> {{ request.args.get('fcdt') }} ({{ request.args.get('fcdt') | datetimeformat }})</p>
    {% endif %}
    {% if request.args.get('tcdt') %}
    <p><strong>TCDT:</strong> {{ request.args.get('tcdt') }} ({{ request.args.get('tcdt') | datetimeformat }})</p>
    {% endif %}
    <div>
        <h2>Response:</h2>
        <p><strong>Code:</strong> {{ data.code }}</p>
        <p><strong>Error:</strong> {{ data.error }}</p>
        <h3>Path Data:</h3>
        <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000000;"></canvas>
        <script>
            function drawDots(data) {
                var canvas = document.getElementById('myCanvas');
                var context = canvas.getContext('2d');
                context.clearRect(0, 0, canvas.width, canvas.height);
                data.pathData.forEach(function(item, index) {
                    item.data.forEach(function(d) {
                        var col = "red"
                        if (d.channelId == 1) {
                            col = "blue"
                        }
                        if (d.channelId == 2) {
                            col = "green"
                        }
                        if (d.channelId != 253) {
                            d.value.forEach(function(point) {
                                var x = point[0];
                                var y = point[1];
                                context.fillStyle = col;
                                context.beginPath();
                                context.arc(x, y, 2, 0, 2 * Math.PI);
                                context.fill();
                            });
                        }
                    });
                });
            }
            drawDots({{ data | tojson }});
        </script>
    </div>
    {% endif %}
    <script>
        function setLastHour() {
            let oneHourAgo = Math.floor(Date.now() / 1000) - 3600;
            document.getElementById('fcdt').value = oneHourAgo * 1000;
        }
    </script>
</body>
</html>
